numpy==1.19.5
matplotlib==3.3.4
streamlit==0.79.0 
altair 
pandas
seaborn

plotly
geopy
folium

geopandas
plotly
pycountry


streamlit_folium
requests
scipy
sqlite3
PIL
bs4
networkx



scikit_learn==0.24.2

